<html>
    <head>
        <title>
            Honeypot Web Delete Account
        </title>
    </head>
    <body style="text-align:center;">
        <h1>Honeypot Web 刪除帳號</h1>
        <form method="post">
            密碼: <input name="password" type="password" required>
            <br><br>
            OTP碼: <input name="otpcode" type="number" required>
            <br><br>
            <input name="delete_bt" type="submit" value="刪除帳號">
        </form>
        <span>{{ error }}</span>
        <br><br>
        <a href="/manager">返回管理頁面</a>
    </body>
</html>