<html>
    <head>
        <title>
            Honeypot Web Login
        </title>
    </head>
    <body style="text-align:center;">
        <h1>Honeypot Web 管理系統登入</h1>
        <form method="post">
            帳號: <input name="username" type="text" required>
            <br><br>
            密碼: <input name="password" type="password" required>
            <br><br>
            OTP碼: <input name="otpcode" type="number" required>
            <br><br>
            <input name="login_bt" type="submit" value="登入">
        </form>
        <span>{{ error }}</span>
        <br><br>
        <a href="/register">註冊帳號</a>
    </body>
</html>