<html>
    <head>
        <title>
            Honeypot Manager System
        </title>
        {{ turbo() }}
    </head>
    <body style="text-align:center;">
        <h1>Honeypot Web 管理系統</h1>
        <a href="/api"><button>REST API 啟用/關閉</button></a>
        <a href="/event"><button>檢視攻擊事件</button></a>
        <a href="/sysinfo"><button>檢視攻擊主機資訊</button></a>
        <a href="/blacklist"><button>檢視黑名單</button></a>
        <a href="/logout"><button>登出</button></a>
        <a href="/delete_account"><button>刪除帳號</button></a>
        <br><br>
        <span id="top_log"></span>
    
    </body>
</html>