<html>
    <head>
        <title>
            Honeypot Manager System
        </title>
        {{ turbo() }}
    </head>
    <body style="text-align:center;">
        <h1>Honeypot Web 管理系統</h1>
        <p><a href="/api"><button style="width: 200px;">REST API 啟用/關閉</button></a></p>
        <p><a href="/event"><button style="width: 200px;">檢視攻擊事件</button></a></p>
        <p><a href="/connectinfo"><button style="width: 200px;">檢視詳細連線資訊</button></a></p>
        <p><a href="/sysinfo"><button style="width: 200px;">檢視攻擊主機資訊</button></a></p>
        <p><a href="/blacklist"><button style="width: 200px;">檢視黑名單</button></a></p>
        <p><a href="/logout"><button style="width: 200px;">登出</button></a></p>
        <p><a href="/delete_account"><button style="width: 200px;">刪除帳號</button></a></p>
    </body>
</html>