<html>
     <head>
        <title>
            HoneypotWeb Register
        </title>
     </head>
     <body style="text-align:center;">
        <form method="post">
            <h1>Honeypot Manager Register</h1>
            Username: <input name="username" type="text" required>
            <br><br>
            Password: <input name="password" type="password" required>
            <br><br>
            OTP Code: <input name="otpcode" type="number" required>
            <br><br>
            OTP Key: <input name="otpkey" type="text" value="{{ keys }}", style="width: 400px;" readonly>
            <br><br>
            <img src="{{ qrcode(qr_url) }}">
            <br><br>
            <input name="button" type="submit" value="Register">
        </form>
        <a href="/">Back Home</a>
     </body>
</html>